html {
	font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
	background-color: #e8e8e8;
}

body {
    width: 85vw;
    height: 95vh;
    /*border: 1px solid red;*/
    position: fixed;
}

header {
	padding-top: 15px;
	padding-bottom: 15px;
    position: absolute;
    top: 0;
    height: 7vh;
    width: 85vw;
}

#main_nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_nav_btns {
	box-shadow: 0px 5px 7px grey;
	transition: .2s;
	display: flex;	
	justify-content: center;
	align-items: center;
	height: 55px;
	width: 55px;
	background-color: #c0c0c0;
	border: 0;
	border-radius: 50px;
	margin: 5px;
}

@media (hover) {
	.main_nav_btns:hover {
		transition: .2s;
		height: 65px;
		width: 65px;
		background-color: #d9d9d9;
	}
}

.main_nav_btns_clicked {
	pointer-events: none;
	height: 65px;
	width: 65px;
	border: 0;
	background-color: rgb(255, 60, 60);
	border-radius: 50px;
	margin: 5px;
}

.icons {
	height: 60%;
	width: 60%;
}

#about_icon {
	height: 45%;
}

#edu_icon {
	height: 45%;
}

#work_hist_icon {
	transform: translate(0px, -1px);
}

#content_area {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10%;
	/*border: 1px solid black;*/
	height: 90%;
	width: 100%;
}

#home_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 600px;
}

@media screen and (min-width: 501px) {
	#portrait {
		box-shadow: 0px 10px 10px grey;
		border-radius: 200px;
		width: 55%;
	}
	#home_name {
		font-size: 34px;
	}
	#home_short_desc {
		font-size: 16px;
	}
}

@media screen and (max-width: 500px) {
	#portrait {
		box-shadow: 0px 10px 10px grey;
		border-radius: 200px;
		width: 85%;
	}
	#home_name {
		font-size: 32px;
	}
	#home_short_desc {
		font-size: 14px;
	}
}


