html {
	font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
	align-items: center;
	background: linear-gradient(#f2f2f2, #e2e2e2);
	background-size: 150% 150%;
	overflow-x: hidden;
	overflow-y: auto;
    height: auto;
    width: auto;
}

body {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
    height: 100%;
    width: 100%;
}

header {
	position: fixed;
    top: 0;
    height: 7vh;
    width: 60%;
	z-index: 1;
}

footer {
    height: 7vh;
    width: 100%;
}

#main_nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_nav_btns {
	transition: .2s;
	display: flex;	
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 100%;
	border: 0;
}

.main_nav_btns_clicked {
	pointer-events: none;
	transition: .2s;
	display: flex;	
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 100%;
	background-color: rgb(255, 60, 60);
	border: 0;
}

@media (hover) {
	.main_nav_btns:hover {
		transition: .2s;
		height: 45px;
		width: 100%;
		background-color: #c9c9c9;
	}
}

#home_btn {
	animation: fadeInHigher .3s ease-out both;
}

#about_btn {
	animation: fadeInHigher .3s ease-out both;
	animation-delay: .1s;
}

#edu_btn {
	animation: fadeInHigher .3s ease-out both;
	animation-delay: .2s;
}

#work_hist_btn {
	animation: fadeInHigher .3s ease-out both;
	animation-delay: .3s;
}

#projects_btn {
	animation: fadeInHigher .3s ease-out both;
	animation-delay: .4s;
}

.icons {
	height: 60%;
	width: 60%;
}

#about_icon {
	height: 45%;
}

#edu_icon {
	height: 45%;
}

#work_hist_icon {
	transform: translate(0px, -1px);
}

#view_body {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 60%;
}

#header_area {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 15%;
	height: 10%;
	width: 98%;
}

#content_area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 98%;
}

#home_section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 800px;
}

.sections {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 1000px;
}

.headers {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 64px;
	font-weight: bold;
	animation: fadeIn .3s ease-out both;
}

@media screen and (min-width: 501px) {
	#portrait {
		box-shadow: 0px 10px 10px #999999;
		border-radius: 200px;
		width: 45%;
		margin-right: 30px;
		animation: fadeInRight .3s ease-out both;
	}
	#home_name {
		transform: translate(0px, -15px);
  		text-shadow: 0px 5px 7px #999999;
		text-align: right;
		font-size: 54px;
		font-weight: bold;
		animation: fadeInLeft .3s ease-out both;
	}
	#home_short_desc {
		transform: translate(0px, -20px);
		font-size: 22px;
		text-align: right;
		font-weight: normal;
		animation: fadeInLeft .3s ease-out both;
	}
}

@media screen and (max-width: 500px) {
	header {
		position: fixed;
		top: 0;
		height: 7vh;
		width: 100%;
		z-index: 1;
	}
	#portrait {
		box-shadow: 0px 10px 10px #999999;
		border-radius: 200px;
		width: 80%;
		margin-right: 0px;
		margin-top: 30px;
		animation: fadeIn .3s ease-out both;
	}
	#home_name {
		font-size: 48px;
		text-align: center;
		font-weight: bold;
		animation: fadeInBottom .3s ease-out both;
	}
	#home_short_desc {
		font-size: 20px;
		text-align: center;
		font-weight: normal;
		width: 90%;
		margin: auto;
		animation: fadeInBottom .3s ease-out both;
	}
	#home_section {
		flex-wrap: wrap;
	}
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 

@keyframes fadeInHigher {
   0% {
      opacity: 0;
      transform: translateY(-50px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 

@keyframes fadeInBottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(100px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
